<br />

<div class="col-xs-12 text-center">
	<h1 class="heading">Careers (Or, the Lack Thereof)</h1>
</div>

<div class="static">
	<div class="col-xs-12 col-sm-4 col-sm-offset-1">
		<%= image_tag 'careers.png', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-5 col-sm-offset-1 white-bg">
		<div class="text-center">
			<h3>Closed to Hiring (Forever)</h3>
		</div>
		<br />
		<p>As this is simply an application done for a Firehose Project course, no careers will ever be open here.</p>
		<p>However, the person who made this app (see <%= link_to 'here', team_path %>) is looking for a job, so if you come across this as you look through a resume, or you're a recruiter, feel free to visit <a href="http://kindlingscript.com">my website</a> if you haven't already, and send an <a href="mailto:inflamedmuse@gmail.com">email</a> to me! I'd love to hear from you. :)</p>
	</div>
</div>