<br />

<div class="col-xs-12 text-center">
	<h1 class="team">Behind the Set</h1>
</div>

<div class="about">
	<div class="col-xs-12 col-sm-4 col-sm-offset-1">
		<%= image_tag 'self.png', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-5 col-sm-offset-1 white-bg">
		<div class="text-center">
			<h3>Team</h3>
		</div>
		<br />
		<p>Incandesce is brought to you through a Firehose Project course, completed by Rebecca Taylor. This application is something of a small scale Udemy clone; a place where, in theory, teachers could create a course, add sections to said course, add lessons to the sections, and have enrolled students.</p>
		<p>To enroll in a paid course, a user would need to enter in their credit card information, which would be processed with the Stripe API. As the application stands now, no cards will be charged, as Stripe is in "Test Mode."</p>
		<p>Teachers can upload an image to their course when they create it, and they can upload videos as lessons. They can also rearrange sections and lessons with some help from jQuery. :)</p>
	</div>
</div>
